<section class="bg-zinc-800">
  <h1 class="text-center pt-4">Edit publication</h1>
  <form class="w-[27rem] p-6 rounded-lg shadow-md" (submit)="OnSubmit()">
    <div class="mb-3">
      <mat-form-field class="w-full">
        <mat-label class="text-gray-200">Title</mat-label>
        <input matInput [(ngModel)]="publication.title" placeholder="enter title" value="" name="title"
          class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline">
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="w-full">
        <mat-label class="text-gray-200">Description</mat-label>
        <input matInput [(ngModel)]="publication.description" placeholder="enter description" value="" name="decription"
          class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline">
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="w-full">
        <mat-label class="text-gray-200">Image</mat-label>
        <input matInput [(ngModel)]="publication.image" placeholder="enter image URL" value="" name="image"
          class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary">
        Publish
      </button>
    </div>
  </form>
</section>
